/* Variables */
:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--Very-dark-desaturated-blue);
}
body {  
    background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);  
    background-position: left -380px top -558px, bottom -670px right -350px;
    background-repeat: no-repeat, no-repeat;
    font-size: 18px;
    height: 100vh;
    background-color: var(--Dark-cyan);
    display: flex;    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner{
    background-image: url(./images/bg-pattern-card.svg);
    height: 150px;
    border-radius: 10px 10px 0 0;
    margin-bottom: -60px;
}

.profile-card{    
    width: 60%;
    border-radius: 10px;
    background-color: white;
    max-width: 400px;
}

.profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    margin: 0 auto;
}

.profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.profile-details{
    padding: 20px;
}

.age {
    padding: 0 5px;
}

.location {
    font-size: 14px;
    padding: 10px 0 0 0;
}

hr {
    color: var(--Dark-grayish-blue);
    opacity: 0.3;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 25px 10px;
}

.category{
    margin-top: 0;
    font-size: 12px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 500px) {
    body {  
      background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);  
      background-position: left -250px top -300px, bottom -250px right -250px;
      background-size: contain;
      background-repeat: no-repeat, no-repeat;
      background-color: var(--Dark-cyan);  
    }

    .profile-card{    
        width: 300px;
    }
  }

  /*  */
  /*  */